#order_form {
    margin: 0 auto
}

#order_form {
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff;
    padding: 40px;
    max-width: 500px;
    background-image: url("formbg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

#order_form_place, .order_form_pole label {
    text-align: center
}

#order_form div {
    background: 0 0!important
}

.order-style {
    margin: 45px 10px 25px;
    border: 2px solid #0299ff;
    padding: 10px
}

.order-style {
    margin: 45px 10px 25px;
    border: 2px solid #0299ff;
    padding: 10px
}

#order_form label {
    padding: 5px 0;
    font-weight: 700;
    display: block;
    font-size: 16px
}

#order_form input, #order_form select {
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    width: 86%;
    box-sizing: border-box
}

.order_form_pole {
    margin-top: 30px
}

#order_form button, .obutton {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, .45);
    border-radius: 5px;
    background-color: #dd3333;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px
}

#order_form span {
    font-size: 12px;
    color: #000
}

@media only screen and (max-width:600px) {
    #order_form {
        padding: 22px
    }
}